@font-face {
    font-family: vazir;
    src: url("../fonts/Vazirmatn-FD-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: vazir;
    src: url("../fonts/Vazirmatn-FD-Bold.woff2") format("woff2");
    font-weight: bold;
}
body {
    font-family: vazir;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
